CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
# CONFIG_GRUB_CONSOLE is not set
CONFIG_KERNEL_EROFS_FS=y
CONFIG_KERNEL_EROFS_FS_ZIP=y
CONFIG_KERNEL_EROFS_FS_ZIP_LZMA=y
# CONFIG_PACKAGE_autosamba is not set
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_ddns-go=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_glib2=y
# CONFIG_PACKAGE_kmod-crypto-ccm is not set
# CONFIG_PACKAGE_kmod-crypto-cmac is not set
# CONFIG_PACKAGE_kmod-crypto-des is not set
# CONFIG_PACKAGE_kmod-crypto-md5 is not set
# CONFIG_PACKAGE_kmod-crypto-sha256 is not set
# CONFIG_PACKAGE_kmod-fs-ksmbd is not set
# CONFIG_PACKAGE_kmod-fs-netfs is not set
# CONFIG_PACKAGE_kmod-oid-registry is not set
# CONFIG_PACKAGE_ksmbd-server is not set
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libcap=y
# CONFIG_PACKAGE_libev is not set
CONFIG_PACKAGE_libevdev=y
CONFIG_PACKAGE_libffi=y
# CONFIG_PACKAGE_libnl-core is not set
# CONFIG_PACKAGE_libnl-genl is not set
# CONFIG_PACKAGE_libsodium is not set
CONFIG_PACKAGE_libudev-zero=y
# CONFIG_PACKAGE_libudns is not set
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_luci-app-accesscontrol-plus=y
CONFIG_PACKAGE_luci-app-argon-config=y
# CONFIG_PACKAGE_luci-app-ddns is not set
CONFIG_PACKAGE_luci-app-ddns-go=y
# CONFIG_PACKAGE_luci-app-ksmbd is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NONE_V2RAY is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-ttyd=y
# CONFIG_PACKAGE_luci-app-vsftpd is not set
CONFIG_PACKAGE_luci-i18n-accesscontrol-plus-zh-cn=y
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ddns-go-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-proton2025=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_qemu-ga=y
# CONFIG_PACKAGE_shadowsocksr-libev-ssr-local is not set
# CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir is not set
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_virtio-console-helper=y
# CONFIG_PACKAGE_vsftpd is not set
# CONFIG_PACKAGE_wsdd2 is not set
CONFIG_PACKAGE_xray-core=y
CONFIG_QCOW2_IMAGES=y
CONFIG_TARGET_EROFS_PCLUSTER_SIZE=256
CONFIG_TARGET_ROOTFS_EROFS=y
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set
CONFIG_PACKAGE_openssh-sftp-server=y
